[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
openpyxl = "*"
flask = "*"
pymongo = "*"
flask-httpauth = "*"
gunicorn = "*"
ipython = "*"

[requires]
python_version = "2.7"
